{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <div id="react"></div>
  <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
  <script type="text/javascript" src="../static/logix/bundles/argumentConstructor.js"></script>
</div>
{% endblock %}
