{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
           <h1>Welcome to Logic2020</h1>
           <a href="{% url 'index' %}"><button class="btn btn-dark">Try out these derivations</button></a>
             or
           <a href="{% url 'logout' %}"><button class="btn btn-dark">logout</button></a>
</div>
{% endblock %}
