
{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div id="react"></div>
    <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
    {% load static %}
    <script type="text/javascript" src={% static 'logix/bundles/deriver.js' %}></script>
</div>
{% endblock %}
