<!doctype html>
{% load google_analytics_js %}
<html lang="en">
<head>
    {% load static %}
  <link rel="shortcut icon" type="image/png" href="{% static 'favicons/favicon.ico' %}">
    <script type="text/javascript">
        if (!(navigator.userAgent.match(/Android/i))
          && !(navigator.userAgent.match(/webOS/i))
          && !(navigator.userAgent.match(/iPhone/i))
          && !(navigator.userAgent.match(/iPod/i))
          && !(navigator.userAgent.match(/BlackBerry/i))
          && !(navigator.userAgent.match(/Windows Phone/i))) {
            window.onload = function () {
                if (typeof Particles !== 'undefined') {
                    Particles.init({
                        selector: '.background',
                        connectParticles: true,
                    });
                }
            };
        }
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Logic2020</title>
    {% google_analytics_js %}
</head>
    <body>
    <div>
       {% block content %}
       {% endblock %}
    </div>
    <div style="position: fixed; bottom: 0; text-align: center; background-color: #3c3c3c; color: white; width: 100%; font-size: small">Logic 2020 v0.0.2 Beta created by Peter Vlasveld</div>
    </body>
</html>
