{% extends 'base.html' %}

{% block content %}
<canvas class="background" style="position: absolute;display:block;top:0;left:0;z-index: -1;"></canvas>
<div class="container" style="display:block;margin-top:5%;width:500px;background-color: darkgray; padding: 2%; border-radius: 5px; border: 2px solid black">
    <h2>Create Account</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username">Username</label>
            <input type="text" class="form-control" name="username" maxlength="150" autofocus required id="id_username">
            <small class="form-text text-muted">Must be 150 characters or fewer. Letters, digits and @/./+/-/_ only.</small>
        </div>
        <div class="form-group">
            <label for="id_password1">Password</label>
            <input type="password" class="form-control" name="password1" required id="id_password1">
            <small class="form-text text-muted">Can't be similar to other personal information.</small>
            <small class="form-text text-muted">Must contain at least 8 characters.</small>
            <small class="form-text text-muted">Can't be a commonly used password.</small>
            <small class="form-text text-muted">Can't be entirely numeric.</small>
        </div>
        <div class="form-group">
            <label for="id_password2">Repeat password</label>
            <input type="password" class="form-control" name="password2" required id="id_password2">
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>
{% endblock %}