{% extends 'base.html' %}

{% block content %}
<canvas class="background" style="position: absolute;display:block;top:0;left:0;z-index: -1;"></canvas>
<div class="container" style="display:block;margin-top:5%;width:500px;background-color: darkgray; padding: 2%; border-radius: 5px; border: 2px solid black">
    <h1 style="font-family: Serif">Logic2020 (Beta)</h1>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username">Username</label>
            <input type="text" class="form-control" placeholder="Username" name="username" autofocus required id="id_username">
        </div>
        <div class="form-group">
            <label for="id_password">Password</label>
            <input type="password" class="form-control" placeholder="Password" name="password" required id="id_password">
        </div>
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                <i class="fa fa-exclamation-circle"></i>
              Username and password did not match our records.
            </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <p>Forgot your password?</p>
    <a href="{% url 'password_reset' %}"><button class="btn btn-default">Reset Password</button></a>
    <p>Don't have an account?</p>
    <a href="{% url 'signup' %}"><button class="btn btn-default">Register</button></a>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>
{% endblock %}
